@import url(reset.css);

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.eventDestaque {
  max-width: 100%;
  height: 205px;
}

.eventDestaque h1 {
  font-size: 1em;
  line-height: 18px;
  color: #fff;
}
