@import url(reset.css);

body {
  background: #f8f8f8;
}
img {
  display: block;
  max-width: 100%;
}

/* inicio do modal */

.bg-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralizar {
  width: 578px;
  height: 499px;
  border-radius: 15px;
  background: #fff;
  display: grid;
  grid-template-columns: 40px 495px 40px;
}

.modal {
  position: relative;
  width: 198px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 378px 124px;
  grid-template-rows: 56px 40px 120px 197px 40px 37px;
}

.fechar-modal {
  color: #5c5c5c;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 30px;
  right: -300px;
}

.modal h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #7746b3;
  margin: 56px 0 20px 0;
  grid-area: 1/1/3/2;
}

.nome-tempo {
  grid-area: 3/1/4/2;
  display: flex;
  flex-direction: column;
}

.bg-event {
  width: 125px;
  height: 112px;
  border-radius: 5px;
  border: 1px dashed rgb(185, 185, 185);
  background: rgb(153, 153, 153);
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: 3/2/4/3;
}

.bg-event img {
  margin: 0 auto;
}

.fileImg {
  display: none;
}

.eventContent {
  grid-area: 4/1/5/3;
}

.btn {
  grid-area: 5/1/6/3;
}

/* final do modal*/

.container-geral {
  max-width: 1160px;
  margin: 0 auto;
}

/* modo dark */
.btns {
  width: 146px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  padding: 3px 3px;
  background: #f3f5f7;
  margin-top: 27px;
  margin-bottom: 14px;
}

.btn-mode {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  color: #666c74;
  width: 75px;
  height: 24px;
  border-radius: 7px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.btn-mode.ativo {
  background: #fff;
}
/* fim do modo dark */
/* evento principal */

.evento-selecionado {
  position: relative;
  max-width: 100%;
  height: 205px;
  border-radius: 20px;
  background: linear-gradient(45deg, #7746b3, #bc27d8);
  padding: 33px, 20px;
  display: grid;
  grid-row: 33px, 1fr, 33px;
}

.alinhar-conteudo {
  margin-left: 20px;
  grid-row: 2/3;
}

.alinhar-conteudo h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 39px;
  color: #fff;
}

.alinhar-conteudo h2 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  max-width: 445px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.alinhar-conteudo .data {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

#progresso {
  display: block;
  -webkit-appearance: none;
}

#progresso::-webkit-progress-bar {
  width: 853px;
  background: #6c2091;
  border-radius: 50px;
  height: 5px;
  margin: 11px 0px;
}
#progresso::-moz-progress-bar {
  width: 853px;
  background: #6c2091;
  border-radius: 50px;
}

#progresso::-webkit-progress-value {
  border-radius: 50px;
  background: #18fbb5;
}

.descricao-evento {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

.evento-selecionado img {
  position: absolute;
  top: -33px;
  right: -40px;
}
/* evento principal */
/* botao para abrir o modal */

.eventos h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  margin: 30px 0px 25px 0px;
}

.eventos {
  max-width: 100%;
}

.adiciona-evento {
  background: #f5f4f6;
  width: 280px;
  height: 287px;
  border: 1px dashed #8341b9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.adiciona-evento button {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: none;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adiciona-evento button span {
  display: block;
  background: #59595a;
}

.adiciona-evento button span:first-child {
  width: 3px;
  height: 40px;
}
.adiciona-evento button span:last-child {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 46px;
  left: 26px;
}

.adiciona-evento p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #383839;
  line-height: 18px;
  margin-top: 14px;
}

.adiciona-evento p span {
  color: #7e43b7;
}
